@import './base.css';

body {
  margin: 0;
  overflow: hidden;
  background: #020617;
  color: #e2e8f0;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  width: 100vw;
  height: 100vh;
}
